# Any change inside the `/.github/` directory
# will require approval from @Test-Automation-Engineer.
/.github/ @Test-Automation-Engineer

# Any change inside the `/infra/` directory
# will require approval from @Test-Automation-Engineer.
/infra/ @Test-Automation-Engineer