## Configure the ingress resource that allows you to access the
## app installation. Set up the URL
## ref: http://kubernetes.io/docs/user-guide/ingress/
##
ingress:
  ## When the ingress is enabled, a host pointing to this will be created
  ##
  hostname: keycloak-zgw.test.denhaag.nl

  ## Specify a tls secret which already exists. tls must be set to true
  ##
  existingTlsSecret: zgw-tls-secret

  ingressClassName: nginx
  
  ## Ingress annotations done as key:value pairs
  ## For a full list of possible ingress annotations, please see
  ## ref: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md
  ##
  ## If certManager is set to true, annotation kubernetes.io/tls-acme: "true" will automatically be set
  ##
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"

##
## Autoscaling configuration
##
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  # targetCPU: 50
  # targetMemory: 50

##
## An array to add env vars
##
env:
  - name: KC_LOG_LEVEL
    value: DEBUG,org.hibernate:INFO,freemarker.cache:INFO,org.keycloak.transaction:INFO,io.smallrye.context.jta.context.propagation:INFO,org.keycloak.services.scheduled:INFO
  # - name: KEYCLOAK_LOG_LEVEL
  #   value: INFO
  # - name: KEYCLOAK_ADMIN
  #   value: zgwadmin
  # - name: KC_PROXY
  #   value: edge
  # - name: KC_HTTP_PORT
  #   value: "8080"
  # - name: KC_HTTP_ENABLED
  #   value: "true"
  # - name: KC_HOSTNAME_STRICT
  #   value: "false"
  # - name: KC_HOSTNAME_STRICT_HTTPS
  #   value: "false"
  - name: KC_HOSTNAME
    # value: keycloak2-zgw.test.denhaag.nl
    value: keycloak-zgw.test.denhaag.nl
  # - name: KC_HOSTNAME_PATH
  #   value: /auth
  # - name: KEYCLOAK_ADMIN_PASSWORD
  #   value:
  # - name: KC_DB_USERNAME
  #   value: keycloak2-test
  # - name: KC_DB_URL_DATABASE
  #   value: 
  # - name: KC_DB_URL_HOST
  #   value: 
  # - name: KC_DB_URL_PROPERTIES
  #   value:
  # - name: KC_DB_PASSWORD
  #   value:
  # - name: JAVA_OPTS_APPEND
  #   value:
  # - name: KC_DB
  #   value: postgres

##
## Sync objects from Azure keyvault to kubernetes as secrets
##
syncAKV:
  sync-1:
    vaultname: kv-zgw-ota-weu-01
    objectname: keycloak-test-keycloak-admin
    objecttype: secret
    output:
      secret:
        name: '{{ include "app.fullname" . }}'
        dataKey: KEYCLOAK_ADMIN
  sync-2:
    vaultname: kv-zgw-ota-weu-01
    objectname: keycloak-test-keycloak-admin-password
    objecttype: secret
    output:
      secret:
        name: '{{ include "app.fullname" . }}'
        dataKey: KEYCLOAK_ADMIN_PASSWORD
  sync-3:
    vaultname: kv-zgw-ota-weu-01
    objectname: keycloak-test-kc-db-url
    objecttype: secret
    output:
      secret:
        name: '{{ include "app.fullname" . }}'
        dataKey: KC_DB_URL
  sync-4:
    vaultname: kv-zgw-ota-weu-01
    objectname: keycloak-test-kc-db-username
    objecttype: secret
    output:
      secret:
        name: '{{ include "app.fullname" . }}'
        dataKey: KC_DB_USERNAME
  sync-5:
    vaultname: kv-zgw-ota-weu-01
    objectname: keycloak-test-kc-db-password
    objecttype: secret
    output:
      secret:
        name: '{{ include "app.fullname" . }}'
        dataKey: KC_DB_PASSWORD

extraObjects:
- apiVersion: networking.k8s.io/v1
  kind: Ingress
  metadata:
    annotations:
      appgw.ingress.kubernetes.io/cookie-based-affinity: "true"
      appgw.ingress.kubernetes.io/request-timeout: "30"
      appgw.ingress.kubernetes.io/ssl-redirect: "true"
      appgw.ingress.kubernetes.io/rewrite-rule-set: zgw-rewriteset1
      meta.helm.sh/release-name: keycloak
      meta.helm.sh/release-namespace: zgw-test
    labels:
      app.kubernetes.io/instance: keycloak
      app.kubernetes.io/managed-by: Helm
      app.kubernetes.io/name: keycloak
    name: keycloak-ag
    namespace: zgw-test
  spec:
    ingressClassName: azure-application-gateway
    rules:
    - host: keycloak-zgw.test.denhaag.nl
      http:
        paths:
        - backend:
            service:
              name: keycloak
              port:
                name: app
          path: /
          pathType: Prefix
    tls:
    - hosts:
      - keycloak-zgw.test.denhaag.nl
      secretName: zgw-tls-secret