name: New ota cl-Build and push image and deploy to aks

on:
  push:
    branches:
      - develop-new-ota-cl
      - 'release-new-ota-cl/v**'

env:
  PUSH_AND_DEPLOY: ${{ github.event_name != 'pull_request' }} # && github.ref == 'refs/heads/main' }}
  CR_REPO: zgw/keycloak-with-theme

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      tagToDeploy: ${{ steps.prep.outputs.DOCKERTAG }}

    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@main

      - name: 'Generate unique docker tag to deploy with Helm'
        id: prep
        run: |
            branch=${GITHUB_REF##*/}
            sha=${GITHUB_SHA::8}
            ts=$(date +%s)
            echo "::set-output name=DOCKERTAG::${branch}-${sha}-${ts}"

      - name: 'Docker meta'
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ secrets.ZGW_OTA_ACR_URL }}/${{ env.CR_REPO }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=sha
            type=raw,value=test-latest,enable=${{ github.ref_name == 'develop-new-ota-cl' }}
            type=raw,value=acc-latest,enable=${{ contains(github.ref, 'release-new-ota-cl/v') }}
            ${{ steps.prep.outputs.DOCKERTAG }}

      - name: 'Set up QEMU'
        uses: docker/setup-qemu-action@v1

      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@v1

      - name: 'Login to acr'
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.ZGW_OTA_ACR_URL }}
          username: ${{ secrets.ZGW_OTA_ACR_TOKEN_USERNAME }}
          password: ${{ secrets.ZGW_OTA_ACR_TOKEN_PASSWORD }}

      - name: 'Build and push image'
        uses: docker/build-push-action@v2
        with:
          push: ${{ env.PUSH_AND_DEPLOY }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # cache-from: type=gha
          # cache-to: type=gha,mode=max

  deploy-to-test:
    if: github.ref_name == 'develop-new-ota-cl'
    runs-on: ubuntu-latest
    needs: build
    environment: test

    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@main

      - name: 'Deploy to AKS'
        uses: Gemeente-DenHaag/custom-actions/deploy-to-aks@main
        # uses: Gemeente-DenHaag/custom-actions/deploy-to-aks@v0.0.3-dta
        with:
          api-server-url: '${{ secrets.ZGW_OTA_API_SERVER_URL }}'
          sa-secret: '${{ secrets.ZGW_TEST_SA_SECRET }}'
          release-name: keycloak
          values-files: infra/values.yaml,infra/values-test.yaml
          namespace: zgw-test
          full-image-url: ${{ secrets.ZGW_OTA_ACR_URL }}/${{ env.CR_REPO }}:${{ needs.build.outputs.tagToDeploy }}
